PORT=5000
NODE_ENV=development
API_LOG_DIR=logs
LOG_WATCH_EMAIL=opcodegenerator@gmail.com
CLERK_ISSUER_URL=
CLERK_JWKS_URL=

FRONTEND_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3000

STRIPE_SECRET_KEY=

GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile

SERVICE_ACCOUNT_KEY_BASE64=
GOOGLE_CLOUD_PROJECT_ID=flashcard-saas-432607
GOOGLE_CLOUD_LOCATION=us-central1
